body {
    margin-top: 20px;
    font-family: "PlayFont", serif;
}

@font-face {
    font-family: "PlayFont";
    src: url("../fonts/Play-Regular.ttf")
}

.link-to-page {
    float: right;
    margin: 0 2px 0 2px;
}

.task-info {
    display: inline-block;
    height: 225px;
    width: 500px;
    margin: 20px 40px;
    border: 1px solid #c4c4c4;
    border-radius: 6px;
    padding: 10px 10px 0 10px;
    background-color: #eeeeee;
    box-shadow: 12px 12px 2px 1px #7e7e7e;
}


.tasks-info-title {
    text-align: center;
}

.task-info-text {
    font-size: 68px;
}


.sidebar {
    list-style: none;
    padding: 0 10px;
    text-align: center;
    font-size: 26px;
    border-right: 1px solid #dee2e6;
    height: 97vh;
}
.sidebar-item {
    border: 1px solid #eaeaea;
    border-radius: 6px;
    text-decoration: none;
    color: black;
    margin-bottom: 3px;
}


.sidebar-link {
    background-color: white;
    border-radius: 8px;
    display: block;
    height: 100%;
    width: 100%;
    padding: 10px 0;
}
.sidebar-link:hover {
    background-color: #2f95fc;
}

a:link {
    text-decoration: none;
    color: black;
}

a:visited {
    text-decoration: none;
    color: black;
}

a:hover {
    text-decoration: none;
    color: black;
}

a:active {
    text-decoration: none;
    color: black;
}
/*---------------------------------------------------------------------------------*/
.not-done {
    height: 45px;
    width: 100px;
    display: block;
    text-align: center;
    padding: 10px 0;
    background-color: #ce1b1b;
    border-radius: 6px;
    margin-bottom: 10px;
    transition: all 0.7s linear;
}

.status-text-hover {
    position: relative;
    display: inline-block;
    color: white;
    top: -24px;
    opacity: 0;
}

.status-text-not-done, .status-text-hover {
    transition: all 0.7s linear;
    color: white;
}

.not-done:hover .status-text-not-done {
    opacity: 0;
}
.not-done:hover .status-text-hover {
    opacity: 1;
}

.not-done:hover {
    background-color: #1cbb1c;
}
/*---------------------------------------------------------------------------------*/

.done {
    height: 45px;
    width: 100px;
    display: block;
    text-align: center;
    padding: 10px 0;
    background-color: #1cbb1c;
    border-radius: 6px;
    margin-bottom: 10px;
    transition: all 0.7s linear;
}

.status-text-not-done-button {
    position: relative;
    display: inline-block;
    color: white;
    top: -24px;
    opacity: 0;
}

.status-text-done, .status-text-not-done-button {
    transition: all 0.7s linear;
    color: white;

}

.done:hover .status-text-done {
    opacity: 0;
}
.done:hover .status-text-not-done-button {
    opacity: 1;
}

.done:hover {
    background-color: #ce1b1b;
}

.update-btn:link {
    font-weight: bold;
    color: #18d218;
    font-size: 18px;
}

.update-btn:visited {
    font-weight: bold;
    color: #18d218;
    font-size: 18px;

}

.delete-btn:link {
    font-weight: bold;
    color: red;
    font-size: 18px;
}

.delete-btn:visited {
    font-weight: bold;
    color: red;
    font-size: 18px;
}

.table-element {
    border-right: 1px solid #dee2e6;
    border-left: 1px solid #dee2e6;
    border-bottom: 1px solid #dee2e6;
    text-align: center;
}

.table-el-name {
    font-size: 18px;
    font-weight: bold;
}

.table-title {
    font-size: 26px;
    background-color: #c4c4c4;
}

.pagination {
    display: flex;
    margin-top: 15px;
    align-items: center;
    justify-content: center;
}

.sb-bg {
    width: 15%;
    position: fixed;
    background-color: #eeeeee;
    padding-top: 10px;
    border-radius: 8px;
}